<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TCM_Fortnite_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <TCM_Fortnite_Tool.Properties.Settings>
            <setting name="API" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB1" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB2" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB3" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB4" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB5" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB6" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB7" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB8" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB9" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB10" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB11" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB12" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB13" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB14" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB15" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB16" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB17" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB18" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB19" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB20" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB21" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB22" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB23" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB24" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB25" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB26" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB27" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB28" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB29" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB30" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB31" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB32" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB33" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB34" serializeAs="String">
                <value/>
            </setting>
            <setting name="Username" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="APIURL" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB35" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB36" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB37" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB38" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB39" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB40" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB41" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB42" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProxiesAPI" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB43" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB44" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB45" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB46" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB47" serializeAs="String">
                <value/>
            </setting>
            <setting name="YourEmail" serializeAs="String">
                <value/>
            </setting>
            <setting name="FNexposedEmail" serializeAs="String">
                <value/>
            </setting>
            <setting name="FNexposedPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB48" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB49" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB50" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB51" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB52" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB53" serializeAs="String">
                <value/>
            </setting>
            <setting name="YourSMS" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveCB54" serializeAs="String">
                <value/>
            </setting>
            <setting name="Color1" serializeAs="String">
                <value/>
            </setting>
            <setting name="Color2" serializeAs="String">
                <value/>
            </setting>
            <setting name="Color3" serializeAs="String">
                <value/>
            </setting>
            <setting name="Color4" serializeAs="String">
                <value/>
            </setting>
            <setting name="Color5" serializeAs="String">
                <value/>
            </setting>
            <setting name="Color6" serializeAs="String">
                <value/>
            </setting>
            <setting name="Color7" serializeAs="String">
                <value/>
            </setting>
            <setting name="Color8" serializeAs="String">
                <value/>
            </setting>
            <setting name="Color9" serializeAs="String">
                <value/>
            </setting>
            <setting name="Color10" serializeAs="String">
                <value/>
            </setting>
            <setting name="Color11" serializeAs="String">
                <value/>
            </setting>
            <setting name="Color12" serializeAs="String">
                <value/>
            </setting>
            <setting name="Color13" serializeAs="String">
                <value/>
            </setting>
            <setting name="Color14" serializeAs="String">
                <value/>
            </setting>
            <setting name="Color15" serializeAs="String">
                <value/>
            </setting>
            <setting name="Color16" serializeAs="String">
                <value/>
            </setting>
            <setting name="Color17" serializeAs="String">
                <value/>
            </setting>
            <setting name="Color18" serializeAs="String">
                <value/>
            </setting>
            <setting name="Color19" serializeAs="String">
                <value/>
            </setting>
            <setting name="Color20" serializeAs="String">
                <value/>
            </setting>
            <setting name="Color21" serializeAs="String">
                <value/>
            </setting>
            <setting name="Color22" serializeAs="String">
                <value/>
            </setting>
            <setting name="ComboSorter1" serializeAs="String">
                <value/>
            </setting>
            <setting name="ComboSorter2" serializeAs="String">
                <value/>
            </setting>
            <setting name="ComboSorter3" serializeAs="String">
                <value/>
            </setting>
            <setting name="ComboSorter4" serializeAs="String">
                <value/>
            </setting>
            <setting name="ComboSorter5" serializeAs="String">
                <value/>
            </setting>
            <setting name="ComboSorter6" serializeAs="String">
                <value/>
            </setting>
            <setting name="ComboSorter7" serializeAs="String">
                <value/>
            </setting>
            <setting name="ComboSorter8" serializeAs="String">
                <value/>
            </setting>
            <setting name="APIkey" serializeAs="String">
                <value/>
            </setting>
            <setting name="APISecret" serializeAs="String">
                <value/>
            </setting>
            <setting name="TwoFALock" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProxyAliveContentBody" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProxyAliveContentTitle" serializeAs="String">
                <value/>
            </setting>
        </TCM_Fortnite_Tool.Properties.Settings>
    </userSettings>
</configuration>
